

<div class="pt-4">
<div class="container-fluid pt-5 pb-2">
    <table class="table " style="text-align: center;">
      <thead>
        <tr>
          <th scope="col">Sr. No.</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Genre</th>
          <th scope="col">No. of Copies</th>
          <th scope="col">Date of Issue</th>
          <th scope="col">Rental Period</th>
          <th scope="col">User Email</th>
           <th scope="col">Recieve</th> 
          
        </tr>
      </thead>
      <tbody>
       
        {% if show_rented_books  %} 
        
          {% for rentBook in show_rented_books %}
           {% if rentBook %}
        <tr> 
          
          <td><b> {{ loop.index }} </b></td>
          <td>{{ rentBook.inputTitle  }} </td>
          <td> {{ rentBook.inputAuthor }} </td>
          <td>  {{ rentBook.inputGenre }}  </td>
          <td> {{ rentBook.inputCopies }}  </td>
          <td> {{ rentBook.issueDate }}</td>
          <td> {{ rentBook.inputDays }}  </td>
          <td style="word-wrap: break-word"> {{ rentBook.userEmail }}  </td>
          <td><button type="button" class="btn btn-warning" onclick="window.location.href='http://127.0.0.1:5000/adminRecieveBook/{{ rentBook._id }}/{{ access_level_email }}'"
            method="POST">Recieve</button></td>
        
        </tr>
        {% endif %}
        {% endfor %}
   {% endif %}
             
      </tbody>
    </table>
  </div>
</div>